<div class="container">
  <h1 class="display-4 mt-3 text-center">
    Small Thigh Calculator
  </h1>
  <p class="lead text-muted text-center">Calculador de Coxinha</p>
  <hr>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="peopleQuantity">Número de Pessoas:</label>
        <input type="number" id="peopleQuantity" [(ngModel)]="peopleQuantity" (keyup)="calc()" (change)="calc()" class="form-control">
      </div>
      <div class="form-group">
        <label for="thighSize">Tamanho do Salgadinho:</label>
        <select id="thighSize" [(ngModel)]="thighSize" (change)="calc()" class="form-control">
          <option value="1">Normal</option>
          <option value="2.5">Mini</option>
        </select>
      </div>
      <div class="form-group">
        <label for="quantityPerCapita">Motivo:</label>
        <select [(ngModel)]="quantityPerCapita" (change)="calc()" class="form-control">
          <option *ngFor="let type of types" value="{{ type.quantityPerCapita }}">{{ type.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md">
      <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th>Comidinha</th>
            <th class="text-center" width="150px">Vai comprar?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsAvailable">
            <td>{{ item.name | uppercase }}</td>
            <td class="text-center">
              <input type="checkbox" [(ngModel)]="item.checked" (change)="calc()">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-primary" *ngIf="peopleQuantity > 0">
    <h4>Você precisa comprar {{ getTotalToBuy() }} salgadinhos:</h4>
    <ul class="list-unstyled">
      <li *ngFor="let itemToBuy of itemsToBuy">
        - <strong>{{ itemToBuy.quantity }}</strong> {{ itemToBuy.item.name }}
      </li>
    </ul>
  </div>
</div>
